Roll-a-Ball/obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
Roll-a-Ball/obj/Debug/Assembly-CSharp.dll
Roll-a-Ball/obj/Debug/Assembly-CSharp.dll.mdb
Roll-a-Ball/Library/metadata/*
Roll-a-Ball/Library/ShaderCache/*